.job-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.job-section{
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 30px;
}
.job-main-cont{
    display: flex;
    gap: 60px;
    justify-content: center;
    padding:40px 0px;
}
.loader-container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-cont{
    width: 330px;
    height: 32px;
    border: 0px;
    border: 1px solid #b6c5ff;
    background-color: #000000;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-input{
    border: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    color:#f8fafc;   
    padding: 3px 10px; 
}
.search-btn{
    background-color: #272727;
    border: 0px;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 30px;
    padding:6px;

}
.search-icon{
    color: white;
    font-size: 16px;
    
}

/* FAILURE VIEW */

.failure-cont, .no-job-cont{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 30px;
}
.failure-img, .no-job-img{
    width: 340px;
}
.failure-heading, .no-job-heading{
    font-size: 38px;
}
.failure-para, .no-job-para{
    font-size: 18px;
    font-weight: 400;
}